.container {
  /* background-color: red; */
  display: flex ;
  flex-direction: row;
  width: min(100%, 80vw);
  margin-bottom: 25px;
  height: 95vh;
}

.mainSection {
  width: 60vw;
  height: auto;
  margin: 1vh 2.5vw;
  display: grid;
  grid-template-areas:
    'reputation reputation'
    'source initialize'
    ;
  grid-gap: 10px;
  justify-content: space-around;
}

