
.container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  margin-top: auto;
  background-image: #251C19;
  width: 100%;
  height: auto;
  z-index: 4;
  border-top: 3px solid #36231B ;
}



.links {
  height: 50px;
  /* border-radius: 0;
background-image: radial-gradient(circle, #f1f085, #d2d376, #b4b768, #989c5a, #7d814c); */
  border-left :2px solid #36231B ;
  border-right:2px solid #36231B;
  width: 340px ;
  height: 100%;  
  /* z-index: 10000000000000; */
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  /* margin: 50px; */
  margin-top: 15px; 
  margin-bottom: 15px; 
  }

  .socials {
    /* background-color:  #fff; */
    display: flex;
    flex-direction: column;
    border-bottom: none;
    width: 300px;
    height: 100%;
    margin: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .t2{
    margin: auto;
  }

  .t{
    margin: auto;
  }

  .btg{
    margin-top: 15px;
  }
