.wrapper{
  width: 100%;
  height: 100%;
  grid-area: reputation;
  display: flex ;
  align-items: center;
  justify-content: center ;
  border: 1px solid #DECEC9;
}

.innerWrapper {
  width: 99%;
  height: 99%;
  background-color: #251C19;
  border: 1px solid #DECEC9;
  border-radius: 3px;
  display:flex ;
  align-items: center;
  justify-content: center ;
}

.buttons {
  display: flex ;
  width: 100%;
  /* background-color: blue; */
  display: flex ;
  justify-content: space-between;
}
.content {
  width: 400px;
  height: 80%;
  /* background-color: red; */
  display: flex ;
  flex-direction: column;
  justify-content: space-between;
  }
.text {

}

/* Create Card style*/

/* .createWrapper { */
/*     display: flex ; */
/*     justify-content: center ; */
/*     align-items: center ; */
/**/
/* } */

.box {
 display: flex ;
  height: 99%;
  width: 80%;
 justify-content: space-around;
}
.createText {
 display: flex ;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 5px;
}

.repForm{
  display: flex ;
  flex-direction: column;
 align-items: center;
 justify-content: center;
  /* background-color: red; */
}
.createButtons {
 display: flex ;
 justify-content: space-between;
  /* background-color: red ; */
  width: 100%;
  margin: 10px;
}
.textField {
  margin: 10px;
  }
